apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kardon-prod

namePrefix: prod-

resources:
  - ../../base
  - namespace-prod.yaml
  - app-config.yaml

images:
  - name: ghcr.io/h3xkatana/microhack-kardon/web
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/admin
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/space
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/api
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/worker
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/beat-worker
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/migrator
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/live
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/proxy
    newTag: latest

replicas:
  - count: 3
    name: api
  - count: 2
    name: worker
