apiVersion: v1
kind: ConfigMap
metadata:
  name: proxy-config
  namespace: kardon-dev
data:
  traefik.yaml: |
    global:
      checkNewVersion: false
      sendAnonymousUsage: false

    log:
      level: INFO
      format: json

    entryPoints:
      web:
        address: ":80"

    providers:
      kubernetesCRD:
        enabled: true
        ingressClass: traefik
      file:
        directory: /etc/traefik
        watch: true

    api:
      dashboard: true
      insecure: true

    metrics:
      prometheus:
        entryPoint: metrics
