apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base/services/api.yaml
  - ../base/services/web.yaml
  - ../base/services/admin.yaml
  - ../base/services/space.yaml
  - ../base/services/live.yaml
  - ../base/services/worker.yaml
  - ../base/services/beat-worker.yaml
  - ../base/services/proxy.yaml

namespace: kardon-dev

configMapGenerator:
  - name: kardon-config
    namespace: kardon-dev
    literals:
      - POSTGRES_HOST=prod-kardon-db.kardon-prod.svc.cluster.local
      - POSTGRES_PORT=5432
      - POSTGRES_DB=kardon
      - POSTGRES_USER=kardon
      - POSTGRES_PASSWORD=kardon
      - REDIS_HOST=prod-kardon-redis.kardon-prod.svc.cluster.local
      - REDIS_PORT=6379
      - RABBITMQ_HOST=prod-kardon-mq.kardon-prod.svc.cluster.local
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=kardon
      - RABBITMQ_PASSWORD=kardon
      - RABBITMQ_VHOST=kardon
      - AWS_S3_ENDPOINT_URL=http://prod-kardon-minio.kardon-prod.svc.cluster.local:9000
      - AWS_S3_BUCKET_NAME=uploads
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=access-key
      - AWS_SECRET_ACCESS_KEY=secret-key
      - DEBUG=true
      - ALLOWED_HOSTS=*
      - CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,http://localhost:3001,http://localhost:3002,http://localhost:3100
      - FILE_SIZE_LIMIT=5242880
      - SECRET_KEY=klqy2k1uhkrjag1tsbz3kfk5sl17r0ptb2m07t4h075211zu0r
      - LIVE_SERVER_SECRET_KEY=secret-key
      - USE_MINIO=1
      - MINIO_ENDPOINT_SSL=0

secretGenerator:
  - name: kardon-secrets
    namespace: kardon-dev
    literals:
      - POSTGRES_USER=kardon
      - POSTGRES_PASSWORD=kardon
      - POSTGRES_DB=kardon
      - PGDATA=/var/lib/postgresql/data
      - REDIS_HOST=prod-kardon-redis.kardon-prod.svc.cluster.local
      - REDIS_PORT=6379
      - RABBITMQ_HOST=prod-kardon-mq.kardon-prod.svc.cluster.local
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=kardon
      - RABBITMQ_PASSWORD=kardon
      - RABBITMQ_VHOST=kardon
      - AWS_REGION=
      - AWS_ACCESS_KEY_ID=access-key
      - AWS_SECRET_ACCESS_KEY=secret-key
      - AWS_S3_ENDPOINT_URL=http://prod-kardon-minio.kardon-prod.svc.cluster.local:9000
      - AWS_S3_BUCKET_NAME=uploads
      - SECRET_KEY=klqy2k1uhkrjag1tsbz3kfk5sl17r0ptb2m07t4h075211zu0r
      - LIVE_SERVER_SECRET_KEY=secret-key
      - USE_MINIO=1
      - MINIO_ENDPOINT_SSL=0
      - CERT_EMAIL=
      - CERT_ACME_CA=https://acme-v02.api.letsencrypt.org/directory

images:
  - name: ghcr.io/h3xkatana/microhack-kardon/web
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/admin
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/space
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/api
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/worker
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/beat-worker
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/live
    newTag: latest
  - name: ghcr.io/h3xkatana/microhack-kardon/proxy
    newTag: latest

patches:
  - target:
      kind: Deployment
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: web
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: NEXT_PUBLIC_API_URL
          value: "http://api:8000"
  - target:
      kind: Deployment
      name: admin
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: NEXT_PUBLIC_API_URL
          value: "http://api:8000"
  - target:
      kind: Deployment
      name: space
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: NEXT_PUBLIC_API_URL
          value: "http://api:8000"
  - target:
      kind: Deployment
      name: live
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: NEXT_PUBLIC_API_URL
          value: "http://api:8000"
